@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Ubuntu:wght@300&display=swap');
/*************** General Styling ********************/
 * {
     padding: 0;
     margin: 0;
}
 body {
     box-sizing: border-box;
     font-family: 'Ubuntu', sans-serif;
     font-size: 16px;
    /* font-family: Arial, Helvetica, sans-serif;
    */
}
 a {
     text-decoration: none;
     outline: none;
}
 li {
     list-style: none;
}
img {
    max-width: 100%;
}
/********** General Layout***************/
 .container {
}
/********* Header ***********/
 .header{
}
 .nav-links {
     color: #fff;
     font-family: 'Oxygen', sans-serif;
}
 .nav {
     display: flex;
     justify-content: space-between;
     padding: 1rem;
     background-color: #333;
}
 .logo {
     font-size: 1.2rem;
     letter-spacing: 1.2px;
     margin-left: 9rem;
}
/***************** (Main) Section 1 styling *********************/
 .main {
     margin: 3rem 10rem;
}
 .section-one {
     display: grid;
     grid-template-columns: repeat(3, 17rem);
     grid-template-rows: repeat(2, max-content);
     grid-gap: 4rem 2rem;
     justify-content: space-between;
}
 .banker, .work, .laptops {
     height: 25vh;
     padding: 1rem;
     background-color: #f2f2f2;
     border-radius: 5px;
}
 .banker, .work {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}
 .btns {
     display: flex;
     justify-content: space-between;
}
 .article-content {
     display: flex;
     justify-content: space-between;
     
}
/************* Buttons styling ********************/
 .btn-loan, .btn-bank, .btn-work, .btn-buy-now {
     outline: none;
     border: 0;
     cursor: pointer;
     border-radius: 4px;
}
 .btn-loan {
     width: 100%;
     padding: 10px;
     background-color: #00ff99;
}
 .btn-work, .btn-bank {
     padding: 8px;
     width: 5rem;
}
 .btn-bank{
     background-color: #ffff00;
}
 .btn-work {
     background-color: #008ae6;
     color: white;
}
 #laptops {
     margin-bottom: 1rem;
}
.btn-buy-now {
    width: 100%;
    padding: 10px;
    background-color:  #1ac6ff;
    font-weight: bold;
}
/********************** Show content section styliing ************************/
 .show-content {
     background-color: #f2f2f2;
     padding: 1rem 5rem;
     grid-column: 1/-1;

     display: flex;
     justify-content: space-between;
}
 
.text-section,.btn-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text-section, .btn-section {
    width: 17rem;
}
.laptop-images {
    max-width: 100%;
    height: 35vh;
    background-color: #f2f2f2;
}
